<h3><i>Relátorio de bebidas mais consumidas de todos os paises e suas quantidades.</i></h3>

In [1]:
import pandas as pd

df = pd.read_csv('drinks.txt')

In [2]:
df.head() # Mostrar a tabela de Drinks.

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [3]:
df.mean()# Média de consumo de licor, vinho e total de álcool.

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [4]:
df.std()# Desvio padrão de consumo.

beer_servings                   101.143103
spirit_servings                  88.284312
wine_servings                    79.697598
total_litres_of_pure_alcohol      3.773298
dtype: float64

In [5]:
df.loc[61][['country','spirit_servings']]#Mostrar o consumo de Licor da França.

country            France
spirit_servings       151
Name: 61, dtype: object

In [6]:
df.sort_values(by='wine_servings', ascending = False).head()#exibir os 5 paises com maior consumo de vinho, podendo colocar dentro do HEAD()mais números para exibir mais paises EX: head(5),HEAD(6) e etc.

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
61,France,127,151,370,11.8
136,Portugal,194,67,339,11.0
3,Andorra,245,138,312,12.4
166,Switzerland,185,100,280,10.2
48,Denmark,224,81,278,10.4

In [7]:
df.sort_values(by='beer_servings', ascending = False)# Paises que estão acima da media, monstrando do maior para o menor.

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
117,Namibia,376,3,1,6.8
45,Czech Republic,361,170,134,11.8
62,Gabon,347,98,59,8.9
65,Germany,346,117,175,11.3
98,Lithuania,343,244,56,12.9
...,...,...,...,...,...
107,Mauritania,0,0,0,0.0
158,Somalia,0,0,0,0.0
111,Monaco,0,0,0,0.0
128,Pakistan,0,0,0,0.0
0,Afghanistan,0,0,0,0.0

In [8]:
df[df['country'] == 'Brazil']# Mostrando a QTD de alcool consumido pelo 'Brasil que é 7.2'

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
23,Brazil,245,145,16,7.2

In [9]:
# Exibir os paises com o consumo maior que (7.2) de alcool do menor para o maior.  

df[df['total_litres_of_pure_alcohol'] > 7.2].sort_values(by='total_litres_of_pure_alcohol', ascending = True).head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
132,Paraguay,213,117,74,7.3
35,Chile,130,124,172,7.6
188,Venezuela,333,100,3,7.7
143,St. Kitts & Nevis,194,205,32,7.7
159,South Africa,225,76,81,8.2

In [10]:
# Mostrando o total de consumos de bebidas na ordem crescente.
df.sort_values(by='total_litres_of_pure_alcohol', ascending = False).head().mean()

beer_servings                   258.00
spirit_servings                 272.60
wine_servings                   114.40
total_litres_of_pure_alcohol     12.68
dtype: float64